-c ../../requirements/constraints.txt
-r ../../requirements/db-common.txt

pydantic[email]

# JWT (RS256)
python-jose[cryptography]

# 비밀번호 해싱
passlib[bcrypt]

# 4.1.x 이상 버전에서는 버그 발생을 확인하여 다운그레이드
bcrypt==4.0.1

# Redis (Refresh Token 저장, redis.asyncio는 redis 기본 패키지에 포함)
redis
